<nav
  class="sm:px-6 lg:px-8 mx-auto bg-black text-white flex justify-between items-center w-full h-16"
>
  <ul>
    <li>
      <a href="/" class="contrast">
        <i class="bi bi-hexagon"></i>
        <strong>Metropolis</strong>
      </a>
    </li>
  </ul>
  <ul class="flex items-center space-x-2">
    <li>
      <a href="/" class="link">Trabajos</a>
    </li>
    <li>
      <a href="" class="link">Empresas</a>
    </li>
    <li>
      <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
    </li>
  </ul>
</nav>
